{% extends "index.html" %}
{% load static %}
{% block container %}
<div class="container">
 
      <div class='containerAboutUs'>
      <div class="item intro">
 
        <h3 class='Title'>Intelligent Agent-Based Model to Support Irrigation Management in Agricultural Crops</h3>
        <br/>
    
          <p>
            The aim of this Web-Application is to present the design and implementation of an Agent-Based Model (ABM) for the water distribution in the large-scale irrigation and drainage district of Chicamocha and Firavitoba (Usochicamocha) in Boyacá - Colombia, where water is a common resource shared by many agents. Usochicamocha has eleven pumping stations distributed into 3641 ha and providing service for 4715 users. In the ABM proposed, each field or farm can be considered as a micro-level and a region or irrigation district as a macro-level. 

            The most approximated irrigation prescription at each micro-level allows determining the water needs at the macro-level, as a reference for the negotiation of water distribution. A Geographical Information System (GIS) was used to manage georeferenced field information. Field capacity and the permanent wilting point of the studied soils, initial soil moisture, crop types, and planting dates were incorporated into the ABM model for determining crop coefficients. Values of crop evapotranspiration were determined using crop coefficients and reference evapotranspiration obtained from a weather station. Each simulated day, the ABM autonomously prescribes the irrigation amounts and timing for all the fields. The results are a novel decision-making support for water resources management applications with multiple stakeholders. 


        </p>
 
      </div>
 
      <div class=' item Developer1 section-dev'> 
 <!--
          <figure class="event-imageContainer">
             <img class="event-image" src="{% static 'Images/andres.jpg' %}" alt='andres'>
          </figure>
  -->
          <div class="event-detail">
            <h4 class="Title">Andres Fernando Jiménez López</h4><br/>
          <p class="event-description">
            Electronic Engineer. Universidad Pedagógica y Tecnológica de Colombia<br/>
            Magister in Science Physics. Universidad Nacional de Colombia<br/>
            PhD student. Universidad Nacional de Colombia<br/>
            Professor. Mathematics and Physics Department - FCBI - Unillanos University<br/>            
            Cel. +57 311 811 5450
          </p>
 
          </div>
 
        </div>
      
      <div class='item Developer2 section-dev'>
<!--
        <figure class="event-imageContainer">
          <img class="event-image" src="{% static 'Images/pedro.png' %}" alt='pedro'>
        </figure>
-->
        <div class="event-detail">
          <h4 class="Title">Pedro Fabián Cárdenas Herrera</h4><br/>
        <p class="event-description">
          Electronic Engineer. Universidad Pedagógica y Tecnológica de Colombia<br/>
          Magister in Industrial Automation. Universidad Nacional de Colombia<br/>
          Magister in Automatic and robotics. Universidad Politécnica de Madrid<br/>
          Phd in Automatic and robotics. Universidad Politécnica de Madrid<br/>
          Professor. Electromechanical Engineering. Universidad Nacional de Colombia<br/>            
          Cel. +57 318 530 9731
        </p>
 
        </div>
      </div>
 
 
 
 
      </div>
 
</div>

 


  {% endblock %}