{% extends "index.html" %}
{% block container %}
<div class="container">
		<div class="slideshow-container contenedor" >
		<img name="slider" class="sizeimg">
		<div class="centrado">Agent Based Model for Irrigation Scheduling</div>
	</div>
	<div class="description">
			<div class="descrip_container">
			
			<div class="descrip1">
				<p class="descripp">
					This is a multi-agent irrigation web-application for consulting maps and evaluating changes in the water use management in an irrigation district.
				</p>
			</div>

			<div class="descrip2">
				<h4 class="tituloDescrip">
					Irrigation Units:
				</h4>
				<p class="descripp">
					Ayalas, Cuche, Duitama, Holanda, Ministerio, Pantano de Vargas, Monquira, San Rafael, Tibasosa, Las vueltas
				</p>

			</div>

			<div class="descrip3">
				<h4 class="tituloDescrip">We are located in:</h4>	
				<p class="descripp">
					 Nobsa, Boyacá- Colombia
				</p>
			</div>
		
		</div>



	</div>
	
</div>

{% endblock %}
