{% extends "index.html" %}
{% block container %}
	<div class="slideshow-container contenedor">
		<img name="slider">	
		<div class="centrado">Agent based model for irrigation sheduling</div>
	</div>
	<div class="description">
			<div class="descrip_container">
			
			<div class="descrip1">
				<p>
					This is an irrigation district system where you can consult maps of the sites of interest, and evaluate changes in the irrigation system of the agents.
				</p>
			</div>

			<div class="descrip2">
				<h4>
					Pumping stations:
				</h4>
				<ul>
					<li>Ayalas</li>
					<li>Cuche</li>
					<li>Duitama</li>
					<li>Holanda</li>
					<li>Ministerio</li>
					<li>Pantano de Vargas</li>
					<li>Moniquira</li>
					<li>San Rafael</li>
					<li>Tibasosa</li>
					<li>Las vueltas</li>				
				</ul>

			</div>

			<div class="descrip3">
				<p>
					We are located in: Sogamoso, Boyacá- Colombia
				</p>
			</div>
		
		</div>



	</div>
{% endblock %}
