{% extends "index.html" %}
{% block container %}
<div class="container">
		<div class="slideshow-container contenedor" >
		<img name="slider">
		<div class="centrado">Agent Based Model for Irrigation Sheduling</div>
	</div>
	<div class="description">
			<div class="descrip_container">
			
			<div class="descrip1">
				<p class="descripp">
					This is an irrigation district system where you can consult maps of the sites of interest, and evaluate changes in the irrigation system of the agents.
				</p>
			</div>

			<div class="descrip2">
				<h4 class="tituloDescrip">
					Pumping stations:
				</h4>
				<p class="descripp">
					Ayalas, Cuche, Duitama, Holanda, Ministerio, Pantano de Vargas, Moniquira, San Rafael, Tibasosa, Las vueltas
				</p>

			</div>

			<div class="descrip3">
				<h4 class="tituloDescrip">We are located in:</h4>	
				<p class="descripp">
					 Sogamoso, Boyacá- Colombia
				</p>
			</div>
		
		</div>



	</div>
	
</div>

{% endblock %}
