{% extends "index.html" %}
{% block container %}   
      <div class="containerOptionMaps">
          <div class="choose container"> 
             <h3>
               Please choose a map:
             </h3> 
          </div>  
          <div class="containerButtonsOpt">          
              <div class="row">          
                <div class="btn-group col-sm-12">
                  <a href="/optionMaps/clay" class="col-xs-12 col-sm-3">
                     <button class=" margins  buttonh" >Clay map</button>
                  </a>
                  <a href="/optionMaps/slit" class="col-xs-12 col-sm-3">
                     <button class=" margins  buttonh" >Silt map</button>
                  </a>
                  <a href="/optionMaps/sand" class="col-xs-12 col-sm-3">
                     <button class=" margins  buttonh" >Sand map</button>
                  </a>

                  <a href="/optionMaps/sp" class="col-xs-12 col-sm-3">
                     <button class=" margins  buttonh" >Sp map</button>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class=" btn-group col-sm-12"">

                  <a href="/optionMaps/fc" class="col-xs-12 col-sm-3">
                     <button class=" margins  buttonh" >Fc map</button>
                  </a>
                  <a href="/optionMaps/pwp" class="col-xs-12 col-sm-3">
                     <button class=" margins  buttonh" >Pwp map</button>
                  </a>

                  <a href="/optionMaps/hc" class="col-xs-12 col-sm-3">
                     <button class=" margins  buttonh" >Hc map</button>
                  </a>
                  <a href="/optionMaps/density" class="col-xs-12 col-sm-3">
                     <button class=" margins  buttonh" >Density map</button>
                  </a>

                </div>
              </div>

      </div>

{% endblock %}