{% extends "index.html" %}
{% block container %}   
  <div class="containerOptionMaps">
    <div class="choose container"> 
       <h3>
         Please choose a map:
       </h3> 
    </div>  
    
      <div class="containerButtonsOpt">

        <div class="ContButtOptgrid">

            <div>
              <a href="/optionMaps/clay">
                <button class=" margins  buttonh">
                  Clay map
                </button>
              </a>
            </div>  

           <div>
             <a href="/optionMaps/slit">
                <button class=" margins  buttonh" >
                  Silt map
                </button>
             </a>
           </div> 

           <div>
             <a href="/optionMaps/sand">
                <button class=" margins  buttonh" >
                  Sand map
                </button>
              </a>
           </div>

           <div>
              <a href="">
                <button class=" margins  buttonh" >
                  Ks map
                </button>
              </a>
           </div>

           <div>
             <a href="/optionMaps/fc">
                <button class=" margins  buttonh" >
                  Fc map
                </button>
             </a>
           </div>

           <div>
             <a href="/optionMaps/pwp">
                <button class=" margins  buttonh" >
                  Pwp map
                </button>
             </a>
           </div>

           <div>
             <a href="">
                <button class=" margins  buttonh" >
                  Crop map
                </button>
             </a>
           </div>


           <div>
             <a href="">
                <button class=" margins  buttonh" >
                  Prescription map
                </button>
             </a>
           </div>

          
        </div>



      </div>        


  </div>

{% endblock %}