{% extends "index.html" %}
{% block container %}   

<div class="container">
    <div class="containerOptionMaps">
    <div class="choose container"> 
       <h3>
         Please choose a map:
       </h3> 
    </div>  
    
      <div class="containerButtonsOpt">

        <div class="ContButtOptgrid">

            <div>
              <a href="/optionMaps/clay">
                <button class=" margins  buttonh">
                  Clay Map
                </button>
              </a>
            </div>  

           <div>
             <a href="/optionMaps/silt">
                <button class=" margins  buttonh" >
                  Silt Map
                </button>
             </a>
           </div> 

           <div>
             <a href="/optionMaps/sand">
                <button class=" margins  buttonh" >
                  Sand Map
                </button>
              </a>
           </div>

           <div>
              <a href="/optionMaps/ks">
                <button class=" margins  buttonh" >
                  Stress Coefficient Map
                </button>
              </a>
           </div>

           <div>
             <a href="/optionMaps/fc">
                <button class=" margins  buttonh" >
                   Field Capacity Map
                </button>
             </a>
           </div>

           <div>
             <a href="/optionMaps/pwp">
                <button class=" margins  buttonh" >
                  Permanent Wilting Point Map
                </button>
             </a>
           </div>

           <div>
             <a href="/optionMaps/crop">
                <button class=" margins  buttonh" >
                  Crop Map
                </button>
             </a>
           </div>


           <div>
             <a href="/optionMaps/prescription">
                <button class=" margins  buttonh" >
                  Prescription Map
                </button>
             </a>
           </div>

          
        </div>



      </div>        


  </div>

</div>

{% endblock %}