       /*
      #  ·················
      #  ··_______________
      #  ·/·___/·___/·___/
      #  /·/__(__··|__··)·
      #  \___/____/____/··
      #  ·················
      */
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
      /* --------------variables */
      :root {
        --orange-color:#f9d56e;
        --white-color: white;
        --black-color: #313337;
        /* Tipografia */
        --normal: 12px;
        /* Espaciado */
        --space: 10px;
        /* Box shadow */
        --box:0px 0 2px 1px #e6e5e9;

      }
      /* --------------variables */
      html,body{
        /* siempre quita el padding y margin se quita ese espaciado */
        padding:0px;
        margin:0px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;

      }

      /********navbar*******/

      nav{
        /* flex me ayuda a pasar los elementos de vertica a horizontal */
        display: flex;
        background-color: var(--orange-color);
        padding: var(--space);
        color: var(--white-color);
        /* nos separa la marca y la lista en cada esquina el grupo
         brand imgage y nav options por eso en el html se separa en clases
         y no nos separa los links
        */
        justify-content: space-between;
        align-items: center;
      }

      nav ul{
        display: flex;
      }

      nav li{
        padding-left: 20px;
        /* quitar la bolita */
        list-style: none;

      }

      nav li a{
        color: var(--black-color);
        text-decoration: none;
      }

      /* la propiedad hover son las acciones de un boton */
      nav li a:hover{
        color: var(--white-color);
      }


/********navbar*******/



