  .Navbar__brand-logo{
    margin-right: 0.7rem;
    width: 12%;
    background-image: none;
    }


    .footer {
        color: #d54062;
        background-color: #d54062;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer img {
    vertical-align: middle;
    }

    .container {
  /* border: 1px solid red; */
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  
}